<section class="a">
  <h1 class="titulo">Guia da Horta</h1>
  <h3 class="sub_titulo">Informações sobre horticultura orgânica</h3>
</section>
<section class="b">
  <div>
    <a routerLink="/menu-catalogo" class="nav-link">
      <h3>Catalogo</h3>
      <p>Acesse as propriedades de mais de 30 espécies de legumes e verduras</p>
    </a>
  </div>
  <div>
    <a routerLink="/menu-fatores" class="nav-link">
      <h3>Fatores</h3>
      <p>Dicas sobre o manejo dos principais fatores de uma horta</p>
    </a>
  </div>
</section>
