.a {
  display: block;
  text-align: center;
  color: var(--clr-white);
  padding-top: 2rem;
}

.sub_titulo {
  color: var(--clr-orange-7);
}

.b {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  align-items: center;
  justify-content: center;
}

div {
  display: flex;
  padding: 1.5rem 1rem;
  flex-direction: column;
  border: 1px solid var(--clr-white);
  border-radius: 10px;
  text-align: center;
  margin: 2rem;
  width: 25%;
}

div h3 {
  color: var(--clr-green-9);
  font-weight: 500;
}

div p {
  font-size: 1.2rem;
  color: var(--clr-green-9);
}

@media screen and (max-width: 1150px) {
  .sub_titulo {
    line-height: 40px;
    padding: 0 1rem;
    margin-top: 1.5rem;
  }
  .b {
    flex-direction: column;
  }
  div {
    width: 70%;
  }
}
