.menu {
  padding: 0rem 3rem;
}

.navbar {
  /*  border: solid red 1px; */
  margin: 0rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: var(--clr-grey-8);
  /*  border-left: solid 1px var(--clr-grey-8); */
  padding: 0 1rem;
  font-size: 1.2rem;
}

.nav-link:hover,
.nav-icon:hover,
.toggle-contato:hover {
  color: var(--clr-green-6);
}

/* .border-right {
  border-right: solid 1px var(--clr-grey-8);
} */

.nav-icons {
  display: flex;
  flex-direction: row;
  padding: 0.1rem 0.7rem;
}

@media screen and (max-width: 1050px) {
  .icones-responsivo {
    display: flex;
    flex-direction: row;
    padding: 1rem 0 0rem 0;
  }
  .navbar {
    flex-direction: column;
    padding: 1.3rem 0 1rem 0;
  }
  svg {
    width: 70%;
  }
}
