<section class="a">
  <h1 class="titulo">Catalogo</h1>
  <h3 class="sub_titulo">
    Acesse as principais características de <br />
    diversas espécies de legumes e vegetais
  </h3>
</section>
<section class="b">
  <app-itens>
    <!--    *ngFor="let itemEl of itens; let i = index" [item]="itemEl" [index]="i"> -->
  </app-itens>
  <!--  <input
    type="text"
    class="search"
    id="search"
    name="search"
    placeholder="Digite a espécie"
  /> -->
  <!-- Fazer um loop com as espécies -->
</section>
