<div class="columns">
  <div class="column">
    <div class="card ficha">
      <div class="card-content">
        <h2 class="card-header-title is-centered">{{ objetoFilho?.titulo }}</h2>
      </div>
      <div class="content content-padding">
        {{ objetoFilho?.par1 }}
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            View on
            <a href="https://twitter.com/codinghorror/status/506010907021828096"
              >Twitter</a
            >
          </span>
        </p>
        <p class="card-footer-item">
          <span> Share on <a href="#">Facebook</a> </span>
        </p>
      </footer>
    </div>
  </div>
</div>
