<div class="columns">
  <div class="column">
    <div class="card ficha">
      <div class="card-content">
        <h2 class="card-header-title is-centered">{{ objetoFilho?.titulo }}</h2>
      </div>
      <div class="content content-padding">
        {{ objetoFilho?.par1 }}
        {{ objetoFilho?.par2 }}
        {{ objetoFilho?.par3 }}
      </div>
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{ objetoFilho?.img }}" alt="Placeholder image" />
        </figure>
      </div>
      <footer class="card-footer"></footer>
    </div>
  </div>
</div>
