<div class="columns">
  <div class="column">
    <div class="card ficha">
      <svg
        width="800px"
        height="800px"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1.5 1.5L13.5 13.5M1.5 13.5L13.5 1.5" stroke="#000000" />
      </svg>

      <div class="card-content">
        <h2 class="card-header-title is-centered">{{ objetoFilho }}</h2>
      </div>

      <div class="content content-padding">
        <ol>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>

      <div class="card-image">
        <figure class="image is-square">
          <img src="" alt="Placeholder image" />
        </figure>
      </div>
      <footer class="card-footer"></footer>
    </div>
  </div>
</div>
