<div class="columns">
  <div class="column">
    <div class="card ficha">
      <svg
        (click)="fecharFicha()"
        width="800px"
        height="800px"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1.5 1.5L13.5 13.5M1.5 13.5L13.5 1.5" stroke="#000000" />
      </svg>

      <div class="card-content">
        <h2 class="card-header-title is-centered">{{ objetoFilho?.nome }}</h2>
      </div>
      <div class="content content-padding center">
        <em>{{ objetoFilho?.nome_cientifico }}</em>
      </div>
      <div class="card-image">
        <figure class="image">
          <img src="{{ objetoFilho?.imagePath }}" alt="Placeholder image" />
        </figure>
      </div>

      <div class="content content-padding center">
        <b class="parametro"> Nutricao: </b> {{ objetoFilho?.nutricao }}
      </div>
      <div class="content content-padding center">
        <b class="parametro">Epoca: </b>{{ objetoFilho?.temperatura }}
      </div>
      <div class="content content-padding center">
        <b class="parametro">Ciclo: </b>{{ objetoFilho?.ciclo }}
      </div>

      <footer class="card-footer"></footer>
    </div>
  </div>
</div>
